<form id="new-animal">
  <input type="text" name="species" placeholder="species">
  <input type="text" name="breed" placeholder="breed">
  <input type="text" name="name" placeholder="name">
  <select name="gender">
    <option>Male</option>
    <option>Female</option>
  </select>
  <label for="dob">DOB</label>
  <input type="date" name="dob">
  <input type="submit">
</form>

<ul id="animal-list">
</ul>
